USE [master]
GO
/****** Object:  Database [E-TICARET_PROJE]    Script Date: 27/12/2022 20:46:01 ******/
CREATE DATABASE [E-TICARET_PROJE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E-TICARET_PROJE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\E-TICARET_PROJE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E-TICARET_PROJE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\E-TICARET_PROJE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E-TICARET_PROJE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E-TICARET_PROJE]
GO
/****** Object:  Table [dbo].[HATA_CESITLERI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HATA_CESITLERI](
	[HATA_CINSI_ID] [int] NOT NULL,
	[HATA_CINSI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HATA_CESITLERI] PRIMARY KEY CLUSTERED 
(
	[HATA_CINSI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HATALI_URUNLER]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HATALI_URUNLER](
	[HATALI_URUN_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[HATA_ID] [int] NOT NULL,
	[HATA_ADET] [int] NOT NULL,
 CONSTRAINT [PK_HATALI_URUNLER] PRIMARY KEY CLUSTERED 
(
	[HATALI_URUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IADE_DURUMU]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IADE_DURUMU](
	[IADE_DURUM_ID] [int] NOT NULL,
	[IADE_DURUM] [char](1) NOT NULL,
 CONSTRAINT [PK_IADE_DURUMU] PRIMARY KEY CLUSTERED 
(
	[IADE_DURUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDIRIMLER]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIRIMLER](
	[INDIRIM_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[ESKI_FIYAT] [decimal](18, 2) NOT NULL,
	[YENI_FIYAT] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_INDIRIMLER] PRIMARY KEY CLUSTERED 
(
	[INDIRIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MUSTERI_ID] [int] NOT NULL,
	[MUSTERI_ADI] [nvarchar](50) NOT NULL,
	[MUSTERI_SOYADI] [nvarchar](50) NOT NULL,
	[MUSTERI_DOGUM_TARIH] [date] NOT NULL,
	[MUSTERI_CINSIYET] [char](1) NOT NULL,
	[SEHIR_ID] [int] NOT NULL,
	[MUSTERI_TELEFON] [decimal](10, 0) NULL,
	[MUSTERI_EPOSTA] [nvarchar](max) NULL,
 CONSTRAINT [PK_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_SEKILLERI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_SEKILLERI](
	[ODEME_ID] [int] NOT NULL,
	[ODEME_YONTEMLERI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ODEME_SEKILLERI] PRIMARY KEY CLUSTERED 
(
	[ODEME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_HEDEFLERI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_HEDEFLERI](
	[SATIS_HEDEF_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[SATIS_HEDEF] [int] NOT NULL,
	[SATILAN] [int] NOT NULL,
 CONSTRAINT [PK_SATIS_HEDEFLERI] PRIMARY KEY CLUSTERED 
(
	[SATIS_HEDEF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_KANALLARI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_KANALLARI](
	[SATIS_KANALI_ID] [int] NOT NULL,
	[SATIS_KANALI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SATIS_KANALLARI] PRIMARY KEY CLUSTERED 
(
	[SATIS_KANALI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_SORUMLULARI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_SORUMLULARI](
	[SATIS_SORUMLU_ID] [int] NOT NULL,
	[SATIS_SORUMLU_AD] [nvarchar](50) NOT NULL,
	[SATIS_SORUMLU_SOYAD] [nvarchar](50) NOT NULL,
	[SATIS_SORUMLU_DOGUM_TARIH] [date] NOT NULL,
	[SATIS_SORUMLU_CINSIYET] [char](1) NOT NULL,
	[SATIS_SORUMLU_MAIL] [nvarchar](max) NOT NULL,
	[SATIS_SORUMLU_TELEFON] [decimal](10, 0) NOT NULL,
	[URUN_GRUP_ID] [int] NOT NULL,
 CONSTRAINT [PK_SATIS_SORUMLULARI] PRIMARY KEY CLUSTERED 
(
	[SATIS_SORUMLU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEHIRLER]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEHIRLER](
	[SEHIR_ID] [int] NOT NULL,
	[SEHIRLER] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SEHIRLER] PRIMARY KEY CLUSTERED 
(
	[SEHIR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESLIMATLAR]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESLIMATLAR](
	[TESLIMAT_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[MUSTERI_ID] [int] NOT NULL,
	[TESLIMAT_TARIH] [datetime] NOT NULL,
	[ODEME_ID] [int] NOT NULL,
	[SATIS_KANALI_ID] [int] NOT NULL,
	[IADE_DURUMU_ID] [int] NOT NULL,
	[TESLIMAT_ADET] [int] NOT NULL,
 CONSTRAINT [PK_TESLIMATLAR] PRIMARY KEY CLUSTERED 
(
	[TESLIMAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN_GRUPLARI]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN_GRUPLARI](
	[URUN_GRUP_ID] [int] NOT NULL,
	[URUN_GRUP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_URUN_GRUPLARI] PRIMARY KEY CLUSTERED 
(
	[URUN_GRUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 27/12/2022 20:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[URUN_ID] [int] NOT NULL,
	[URUN_GRUP_ID] [int] NOT NULL,
	[URUN_ADI] [nvarchar](max) NOT NULL,
	[URUN_STOK] [int] NOT NULL,
 CONSTRAINT [PK_URUNLER] PRIMARY KEY CLUSTERED 
(
	[URUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[HATA_CESITLERI] ([HATA_CINSI_ID], [HATA_CINSI]) VALUES (1, N'Kırılma')
INSERT [dbo].[HATA_CESITLERI] ([HATA_CINSI_ID], [HATA_CINSI]) VALUES (2, N'Yamulma')
INSERT [dbo].[HATA_CESITLERI] ([HATA_CINSI_ID], [HATA_CINSI]) VALUES (3, N'Sökülmüş')
GO
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID], [HATA_ADET]) VALUES (1, 1, 8, 1)
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID], [HATA_ADET]) VALUES (2, 11, 3, 7)
INSERT [dbo].[HATALI_URUNLER] ([HATALI_URUN_ID], [URUN_ID], [HATA_ID], [HATA_ADET]) VALUES (3, 2, 2, 15)
GO
INSERT [dbo].[IADE_DURUMU] ([IADE_DURUM_ID], [IADE_DURUM]) VALUES (1, N'E')
INSERT [dbo].[IADE_DURUMU] ([IADE_DURUM_ID], [IADE_DURUM]) VALUES (2, N'H')
GO
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (1, 1, CAST(20000.50 AS Decimal(18, 2)), CAST(15000.30 AS Decimal(18, 2)))
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (2, 5, CAST(8000.90 AS Decimal(18, 2)), CAST(7000.90 AS Decimal(18, 2)))
INSERT [dbo].[INDIRIMLER] ([INDIRIM_ID], [URUN_ID], [ESKI_FIYAT], [YENI_FIYAT]) VALUES (3, 14, CAST(250.80 AS Decimal(18, 2)), CAST(200.90 AS Decimal(18, 2)))
GO
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_SOYADI], [MUSTERI_DOGUM_TARIH], [MUSTERI_CINSIYET], [SEHIR_ID], [MUSTERI_TELEFON], [MUSTERI_EPOSTA]) VALUES (1, N'Müşteri_Adı_1', N'Müşreti_Soyadı_1', CAST(N'1988-04-10' AS Date), N'e', 4, CAST(5308528179 AS Decimal(10, 0)), N'Müşteri_Adı_1@gmail.com')
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_SOYADI], [MUSTERI_DOGUM_TARIH], [MUSTERI_CINSIYET], [SEHIR_ID], [MUSTERI_TELEFON], [MUSTERI_EPOSTA]) VALUES (2, N'Müşteri_Adı_2', N'Müşreti_Soyadı_2', CAST(N'2000-07-13' AS Date), N'e', 16, CAST(5218764940 AS Decimal(10, 0)), N'Müşteri_Adı_2@gmail.com')
INSERT [dbo].[MUSTERILER] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_SOYADI], [MUSTERI_DOGUM_TARIH], [MUSTERI_CINSIYET], [SEHIR_ID], [MUSTERI_TELEFON], [MUSTERI_EPOSTA]) VALUES (3, N'Müşteri_Adı_3', N'Müşreti_Soyadı_3', CAST(N'1993-10-16' AS Date), N'e', 23, CAST(5344879549 AS Decimal(10, 0)), N'Müşteri_Adı_3@gmail.com')
GO
INSERT [dbo].[ODEME_SEKILLERI] ([ODEME_ID], [ODEME_YONTEMLERI]) VALUES (1, N'Kredi Kartı')
INSERT [dbo].[ODEME_SEKILLERI] ([ODEME_ID], [ODEME_YONTEMLERI]) VALUES (2, N'Kapıda Ödeme')
INSERT [dbo].[ODEME_SEKILLERI] ([ODEME_ID], [ODEME_YONTEMLERI]) VALUES (3, N'Havale')
GO
INSERT [dbo].[SATIS_HEDEFLERI] ([SATIS_HEDEF_ID], [URUN_ID], [SATIS_HEDEF], [SATILAN]) VALUES (1, 1, 415, 258)
INSERT [dbo].[SATIS_HEDEFLERI] ([SATIS_HEDEF_ID], [URUN_ID], [SATIS_HEDEF], [SATILAN]) VALUES (2, 2, 50, 183)
INSERT [dbo].[SATIS_HEDEFLERI] ([SATIS_HEDEF_ID], [URUN_ID], [SATIS_HEDEF], [SATILAN]) VALUES (3, 3, 489, 292)
GO
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (1, N'Toptan Satış')
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (2, N'Parakende Satış')
INSERT [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (3, N'Kurumsal Satış')
GO
INSERT [dbo].[SATIS_SORUMLULARI] ([SATIS_SORUMLU_ID], [SATIS_SORUMLU_AD], [SATIS_SORUMLU_SOYAD], [SATIS_SORUMLU_DOGUM_TARIH], [SATIS_SORUMLU_CINSIYET], [SATIS_SORUMLU_MAIL], [SATIS_SORUMLU_TELEFON], [URUN_GRUP_ID]) VALUES (1, N'Edward', N'Elric', CAST(N'1979-05-14' AS Date), N'e', N'Edward_Elric@gmail.com', CAST(5309887121 AS Decimal(10, 0)), 1)
INSERT [dbo].[SATIS_SORUMLULARI] ([SATIS_SORUMLU_ID], [SATIS_SORUMLU_AD], [SATIS_SORUMLU_SOYAD], [SATIS_SORUMLU_DOGUM_TARIH], [SATIS_SORUMLU_CINSIYET], [SATIS_SORUMLU_MAIL], [SATIS_SORUMLU_TELEFON], [URUN_GRUP_ID]) VALUES (2, N'Alphonso', N'Elric', CAST(N'1974-03-19' AS Date), N'e', N'Alphonso_Elric@gmail.com', CAST(5532241553 AS Decimal(10, 0)), 2)
INSERT [dbo].[SATIS_SORUMLULARI] ([SATIS_SORUMLU_ID], [SATIS_SORUMLU_AD], [SATIS_SORUMLU_SOYAD], [SATIS_SORUMLU_DOGUM_TARIH], [SATIS_SORUMLU_CINSIYET], [SATIS_SORUMLU_MAIL], [SATIS_SORUMLU_TELEFON], [URUN_GRUP_ID]) VALUES (3, N'Roy', N'Mustang', CAST(N'1978-03-10' AS Date), N'e', N'Roy_Mustang@gmail.com', CAST(5325210886 AS Decimal(10, 0)), 3)
GO
INSERT [dbo].[SEHIRLER] ([SEHIR_ID], [SEHIRLER]) VALUES (1, N'Adana')
INSERT [dbo].[SEHIRLER] ([SEHIR_ID], [SEHIRLER]) VALUES (2, N'Adıyaman')
INSERT [dbo].[SEHIRLER] ([SEHIR_ID], [SEHIRLER]) VALUES (3, N'Afyonkarahisar')
GO
INSERT [dbo].[TESLIMATLAR] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [TESLIMAT_TARIH], [ODEME_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [TESLIMAT_ADET]) VALUES (1, 133, 24, CAST(N'2021-04-02T00:00:00.000' AS DateTime), 2, 1, 1, 6)
INSERT [dbo].[TESLIMATLAR] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [TESLIMAT_TARIH], [ODEME_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [TESLIMAT_ADET]) VALUES (2, 121, 74, CAST(N'2022-11-13T00:00:00.000' AS DateTime), 1, 2, 2, 10)
INSERT [dbo].[TESLIMATLAR] ([TESLIMAT_ID], [URUN_ID], [MUSTERI_ID], [TESLIMAT_TARIH], [ODEME_ID], [SATIS_KANALI_ID], [IADE_DURUMU_ID], [TESLIMAT_ADET]) VALUES (3, 71, 9, CAST(N'2021-01-19T00:00:00.000' AS DateTime), 3, 3, 1, 5)
GO
INSERT [dbo].[URUN_GRUPLARI] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (1, N'Elektronik')
INSERT [dbo].[URUN_GRUPLARI] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (2, N'Moda')
INSERT [dbo].[URUN_GRUPLARI] ([URUN_GRUP_ID], [URUN_GRUP]) VALUES (3, N'Ev')
GO
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (1, 1, N'Asus Vivobook Pro 14X', 9980)
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (2, 1, N'MSI GF63 Thin 11UD-428XTR', 1135)
INSERT [dbo].[URUNLER] ([URUN_ID], [URUN_GRUP_ID], [URUN_ADI], [URUN_STOK]) VALUES (3, 1, N'HP Victus 16-D1031NT', 3215)
GO
ALTER TABLE [dbo].[HATALI_URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_HATALI_URUNLER_HATA_CESITLERI] FOREIGN KEY([HATA_ID])
REFERENCES [dbo].[HATA_CESITLERI] ([HATA_CINSI_ID])
GO
ALTER TABLE [dbo].[HATALI_URUNLER] CHECK CONSTRAINT [FK_HATALI_URUNLER_HATA_CESITLERI]
GO
ALTER TABLE [dbo].[HATALI_URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_HATALI_URUNLER_URUNLER] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[HATALI_URUNLER] CHECK CONSTRAINT [FK_HATALI_URUNLER_URUNLER]
GO
ALTER TABLE [dbo].[IADE_DURUMU]  WITH CHECK ADD  CONSTRAINT [FK_IADE_DURUMU_IADE_DURUMU] FOREIGN KEY([IADE_DURUM_ID])
REFERENCES [dbo].[IADE_DURUMU] ([IADE_DURUM_ID])
GO
ALTER TABLE [dbo].[IADE_DURUMU] CHECK CONSTRAINT [FK_IADE_DURUMU_IADE_DURUMU]
GO
ALTER TABLE [dbo].[INDIRIMLER]  WITH CHECK ADD  CONSTRAINT [FK_INDIRIMLER_URUNLER] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[INDIRIMLER] CHECK CONSTRAINT [FK_INDIRIMLER_URUNLER]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERILER_MUSTERILER] FOREIGN KEY([SEHIR_ID])
REFERENCES [dbo].[SEHIRLER] ([SEHIR_ID])
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [FK_MUSTERILER_MUSTERILER]
GO
ALTER TABLE [dbo].[SATIS_HEDEFLERI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_HEDEFLERI_SATIS_HEDEFLERI] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[SATIS_HEDEFLERI] CHECK CONSTRAINT [FK_SATIS_HEDEFLERI_SATIS_HEDEFLERI]
GO
ALTER TABLE [dbo].[SATIS_SORUMLULARI]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_SORUMLULARI_URUN_GRUPLARI] FOREIGN KEY([URUN_GRUP_ID])
REFERENCES [dbo].[URUN_GRUPLARI] ([URUN_GRUP_ID])
GO
ALTER TABLE [dbo].[SATIS_SORUMLULARI] CHECK CONSTRAINT [FK_SATIS_SORUMLULARI_URUN_GRUPLARI]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [FK_TESLIMATLAR_IADE_DURUMU] FOREIGN KEY([IADE_DURUMU_ID])
REFERENCES [dbo].[IADE_DURUMU] ([IADE_DURUM_ID])
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [FK_TESLIMATLAR_IADE_DURUMU]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [FK_TESLIMATLAR_MUSTERILER] FOREIGN KEY([MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER] ([MUSTERI_ID])
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [FK_TESLIMATLAR_MUSTERILER]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [FK_TESLIMATLAR_ODEME_SEKILLERI] FOREIGN KEY([ODEME_ID])
REFERENCES [dbo].[ODEME_SEKILLERI] ([ODEME_ID])
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [FK_TESLIMATLAR_ODEME_SEKILLERI]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [FK_TESLIMATLAR_SATIS_KANALLARI] FOREIGN KEY([SATIS_KANALI_ID])
REFERENCES [dbo].[SATIS_KANALLARI] ([SATIS_KANALI_ID])
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [FK_TESLIMATLAR_SATIS_KANALLARI]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [FK_TESLIMATLAR_URUNLER] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([URUN_ID])
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [FK_TESLIMATLAR_URUNLER]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_URUNLER] FOREIGN KEY([URUN_GRUP_ID])
REFERENCES [dbo].[URUN_GRUPLARI] ([URUN_GRUP_ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_URUNLER]
GO
ALTER TABLE [dbo].[TESLIMATLAR]  WITH CHECK ADD  CONSTRAINT [CK_Tarih] CHECK  (([TESLIMAT_TARIH]>=(((2022)-(1))-(1))))
GO
ALTER TABLE [dbo].[TESLIMATLAR] CHECK CONSTRAINT [CK_Tarih]
GO
USE [master]
GO
